Source: kms-cmake-utils
Priority: optional
Maintainer: Kurento <kurento@googlegroups.com>
Build-Depends:
 cmake,
 debhelper-compat (= 13),
Standards-Version: 4.5.1
Rules-Requires-Root: no
Vcs-Git: https://github.com/Kurento/kms-cmake-utils.git
Vcs-Browser: https://github.com/Kurento/kms-cmake-utils
Homepage: https://kurento.openvidu.io/
Section: devel

Package: kms-cmake-utils
Architecture: all
Depends:
 cmake,
 pkg-config,
 ${misc:Depends},
Recommends:
 dpkg-dev,
 git,
Suggests:
 valgrind,
Description: CMake utilities used when building Kurento
 This package contains custom CMake modules, required to build Kurento.
